<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectorol">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoRol"
        android:usesCleartextTraffic="true">
        <activity android:name=".Sesion" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpcionesUsuario" />
        </activity>

        <activity android:name=".Mensajes"
            android:theme="@style/Theme.ProyectoRol.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpcionesUsuario" />
        </activity>
        <activity android:name=".VerFicha">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".OpcionesUsuario" />
        <activity android:name=".ElegirVirtudes" />
        <activity android:name=".ElegirHabilidades" />
        <activity android:name=".ElegirPersonaje">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".EncontrarPartida">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ElegirAtributos" />
        <activity android:name=".CreacionPartida">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OpcionesUsuario" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>